.brands-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 0.7fr));
    gap: 25px 0;
    width: 70%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .brands-grid {
        grid-template-columns: repeat(4, minmax(0, 0.7fr));
    }
}

.brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    max-height: 65px;
    width: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.brand-logo:hover {
    filter: grayscale(0%);
}